* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  height: 100vh;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  background: linear-gradient(to top left, #2fcb99, #7dd56f);
}

.show-modal {
  font-weight: 800;
  width: 20rem;
  height: 5rem;
  color: rgb(0, 0, 0);
  border: 0;
  border-radius: 20px;
  margin-top: 10rem;
  margin-left: 10rem;
  scroll-behavior: smooth;
}

.hidden {
}

.model-close {
  position: absolute;
  left: 95%;
  font-size: 2.8rem;
  height: 2.8rem;
  width: 2.8rem;
  margin: 0.2rem;
  top: 4px;
  border: none;
  color: red;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
}

/* Class to modal work */

.modal-section {
}

.modal {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 50%;
  line-height: 3rem;
  font-size: 1.8rem;
  background-color: white;
  padding: 5rem;
  border-radius: 8px;
  box-shadow: 0 5rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
