.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 200px;
  height: 200px;
}

#play{
  width: 10rem;
  height: 2.5rem;
  border-radius: 10px;
  border: 0;
  outline: 0;
  margin-left: 45%;
  margin-top: 3rem;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0px 5px 8px solid rgba(0, 0, 0,0.35);
  transition: all 0.5s;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}